<app-header></app-header>

<body>
    <br><br><br><br>
    <form>
        <div class="d-flex justify-content-center align-items-center">
            <input type="email" class="form-control" name="myname" placeholder="帳號" required>
        </div>
        <br /><br />
        <div class="d-flex justify-content-center">
            <input type="password" class="form-control" name="mypasswd" placeholder="密碼" required>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <button class="button">登入</button>
        </div>
    </form>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-7"></div>
            <div class="col-2">
                <span class="text1">沒有帳號？
            <a routerLink="/signup" id="signup">註冊</a></span></div>
        </div>
    </div>
    <br><br><br><br>
    <br><br><br><br>
</body>

<app-footer></app-footer>