<nav>
    <br>
    <div id="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="Ellipse">
                        <!--<a routerLink="/signup">-->
                        <img [src]="img1" alt="">
                    </div>
                </div>
            </div>
            <!--<div class="col">
                <div class="align-items-center">
                    <div class="line1"></div>
                </div>
            </div>-->
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="Ellipse">
                        <!--<a routerLink="/signup2">-->
                        <img [src]="img2" alt="">
                    </div>
                </div>
            </div>
            <!--<div class="line2 col"></div>-->
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="Ellipse">
                        <!--<a routerLink="/signup3">-->
                        <img [src]="img3" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>