.name {
    width: 356px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.email {
    width: 356px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.passwd {
    width: 356px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.iden {
    width: 356px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.edu {
    width: 356px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.next {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #000000;
    color: #FFFFFF;
    font-size: 20px;
}