<app-header></app-header>
<app-signupnav></app-signupnav>

<body>
    <br>
    <br>
    <form>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <div class="name">
                            <input type="text" class="form-control" name="name" placeholder="姓名" required>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="email">
                            <input type="email" class="form-control" name="email" placeholder="電子信箱" required>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="passwd">
                            <input type="password" class="form-control" name="passwd" placeholder="密碼" required>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="iden">
                            <input type="text" class="form-control" name="identity" placeholder="身分" required>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="edu">
                            <input type="text" class="form-control" name="education" placeholder="教育程度" required>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <button class="next" routerLink="/signup2"><span>&#62;</span></button>
                </div>
            </div>
        </div>
    </form>
    <br><br>
</body>
<app-footer></app-footer>